:80

root * /usr/share/caddy
file_server

# Cache static assets
header /.*\.(?:jpg|jpeg|gif|png|ico|svg)$ Cache-Control "public, max-age=604800"

# Cache css and js bundle
header /.*\.(?:css|js)$ Cache-Control "no-cache, public, must-revalidate, proxy-revalidate"

try_files {path} {path}/ /index.html